<!DOCTYPE html>
<html>
<head>
	<title>Employee Search</title>
	<script type="text/javascript">
		
		function find()
		{
			var keyword = document.getElementById('searchkey').value;
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", "http://localhost:3000/home/search/"+keyword, true);
			xhttp.send();
			xhttp.onreadystatechange = function() {
			    if (this.status==404) {
			    	document.getElementById('res').innerHTML="";
			    }else{
			    	if (this.readyState == 4 && this.status == 200) {
			 		document.getElementById('res').innerHTML = this.responseText;
			    	}
			    }
			};
		}
	</script>
</head>
<body>
<center>
		Search: <input type="text" id="searchkey" onkeyup="find()"><br>
	<div id="res">
		<table border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Contact</th>
			<th>UserName</th>
			<th>Type</th>
		</tr>
		<% for(var i=0; i<user.length; i++) { %>
		<tr>
			<td><%=user[i].id%></td>
			<td><%=user[i].name%></td>
			<td><%=user[i].contact%></td>
			<td><%=user[i].username%></td>
			<td><%=user[i].type%></td>
		</tr>
		<% }%>
	</table>
	</div>
	<a href="/home">Back to Home</a>
</center>
</body>
</html>